:root {
  --color: rgb(232, 49, 49);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: fit-content;
  /* padding: 10px 58px; */
  /* width: 1200px; */
}
.nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-header h1 {
  font-size: 20px;
  font-weight: bolder;
}
.nav-header span {
  font-size: 10px;
  font-style: italic;
}

.section1 {
  border: 2px dotted turquoise;
  /* background-image: url("first\ image\ background.jpg");
  background-size: cover; */
  /* padding: 8px 16px; */
}

.section1 image img {
  display: block;
  width: 100%;
  height: auto;
}

.section1 image {
  position: relative;
  display: inline-block;
}

.section1-text {
  /* position: absolute;
  top: 50%;
  left: 30%; */
  color: white;
  text-align: center;
  height: 100vh;
  background-image: url("./responsiveness-image/section1\ backgound\ image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section1-text h1 {
  font-size: 50px;
}

.section1-text h6 {
  font-size: 15px;
}
.section1 button {
  border: 2px solid var(--color);
  border-radius: 4px;
  /* position: absolute; */
  /* bottom: 3px; */
  padding: 8px 16px;
  /* left: 50%; */
  color: white;
  text-align: center;
  align-items: center;
  font-size: 20px;
  background-color: black;
}
.section1-footer {
  margin-top: -5px;
  background-color: var(--color);
  border-radius: 4px;
  padding: 6px 16px;
  text-align: center;
  font-size: 25px;
  color: white;
}
/* section1 card styles ends here */

.section2 {
  border: 2px dotted red;
  display: grid;
  grid-template-columns: repeat(5, 19%);
  column-gap: 1%;
  /* row-gap: 5px; */
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 40px;
  overflow: hidden;
}

.section2 .cards .card-image {
  /* width: ; */
  height: 200px;
  overflow: hidden;
}
.section2 .cards .card-image img {
  width: 100%;
  height: 100%;
}
.cards {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(230, 222, 222);
  margin: 0;
  text-align: center;
  align-items: center;
}

.section2 .cards button {
  color: white;
  border: none;
  background-color: black;
  padding: 6px 16px;
}

.cards .price-tag {
  color: rgb(168, 154, 154);
}

#check-btn {
  border: 2px solid var(--color);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  padding: 16px 32px;
  background-color: snow;
  cursor: pointer;
  margin: 30px;
  width: 500px;
}
/* section2 cards style ends here */

.section3 {
  border: 2px dotted green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.section3 .mask-description-cards {
  border: 1px dotted red;
  display: grid;
  grid-template-columns: repeat(7, 13.2%);
  column-gap: 1%;
  margin: 0 auto;
  justify-content: space-between;
  overflow: hidden;
}

.section3 h1 {
  font-size: 70px;
}
.section3 h6 {
  margin-top: -55px;
  font-size: 15px;
}

.section3 .masks-images {
  width: 150px;
  height: 150px;
}
.section3 .masks-images img {
  width: 100%;
  height: 100%;
}

.section3 button {
  color: white;
  background-color: var(--color);
  border-style: none;
  padding: 18px 36px;
  font-size: 20px;
  margin: 20px;
}

/* section3 cards style ends here */

.section4 {
  border: 2px dotted royalblue;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  background-color: black;
  color: white;
  /* padding: 10px 58px; */
}

.section4 h1 {
  font-size: 58px;
}
.section4 span {
  border-bottom: 2px solid var(--color);
  background-size: 10px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
/* section4 ends here */

.section5 {
  border: 2px dotted saddlebrown;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid blue; */
  /* padding: 16px 58px; */
}

.extreme-mask-details h1 {
  font-size: 60px;
}

.red-extreme-mask-details,
.red-extreme-mask-details2 {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.red-extreme-mask-details2 {
  padding-top: 10px;
}

.red-extreme-mask-details span,
.red-extreme-mask-details2 span {
  border: 2px solid var(--color);
  padding: 6px 12px;
  text-align: center;
  color: rgb(46, 45, 45);
}
.red-extreme-mask-details2 button {
  border-style: none;
  color: white;
  background-color: var(--color);
  padding: 6px 12px;
}
/* section5 ends here */

.section6 {
  padding: 10px 58px;
  border: 1px dotted red;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  /* column-gap: 1%; */
  margin: 0 auto;
  overflow: hidden;
}
.section6 h1 {
  font-size: 40px;
}

.section6-images {
  width: 100%;
  height: 100%;
}
.section6-images img {
  width: 100%;
  height: 100%;
}
.section7 {
  display: flex;
}
.footer-img {
  width: 100%;
  height: 100%;
}

.footer-img img {
  width: 100%;
  height: 100%;
}
